[Desktop Entry]
Version=1.0
Name=CMake3
Comment=Cross-platform buildsystem
Exec=cmake3-gui %f
Icon=CMake3Setup
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Development;
StartupNotify=true
MimeType=application/x-cmakecache;
